@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  /* font-family: "Noto Sans", sans-serif; */
}

/* body {
  font-family: "Noto Sans", sans-serif;
} */

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  padding: 0px;
}

a {
  outline: none;
  display: inline-block;

  color: inherit;
  text-decoration: none;

  transition-duration: 250ms;
  transition-timing-function: ease;
}

button {
  display: inline-block;
  box-sizing: border-box;

  padding: 0;
  border: 0;
  outline: 0;
  margin: 0;

  box-shadow: 0px;
  background-color: transparent;

  /* font-family: inherit; */
  /* color: inherit; */
  /* fill: currentColor; */

  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: ease;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  color: inherit;
}

ul,
li,
ol {
  padding: 0px;
  margin: 0px;

  list-style: none;
}

.hero {
  background-image: url(../images/home/hero_remove.png);
  background-color: #f9f8f8;
  background-repeat: no-repeat;
  background-position: top -35px right 90px;
}

/* Стилізація скроллбару */
::-webkit-scrollbar {
  width: 12px; /* Ширина скроллбару */
}

/* Шлях скроллбару */
::-webkit-scrollbar-track {
  background: #f9f8f8;
}

/* Візуальна частина скроллбару (блок, який ви можете перетягувати) */
::-webkit-scrollbar-thumb {
  background: rgb(126, 182, 147, 0.6);
  border-radius: 8px; /* Колір скроллбару */
}

/* Зміна вигляду скроллбару при наведенні */
::-webkit-scrollbar-thumb:hover {
  background: #7eb693; /* Колір скроллбару при наведенні */
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
}

.shop-link:hover .arrow-icon {
  animation: pulse 0.8s infinite;
}
